.text_case{
  text-transform:uppercase;
}

div.box p{
font:arial;
}

.https://dynaimage.cdn.cnn.com/cnn/q_auto,w_634,c_fill,g_auto,h_357,ar_16:9/http%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F211013101243-monster-building-quarry-bay-hong-kong.jpg{
   border:solid;
   padding-left: 1px;
   padding-right: 1px;
   padding-top: 1px;
   border:black;
